{% extends 'base.html' %}


    {%block title%}
    Pokemon Emulator
    {%endblock%}

    {%block content%}
    <h1 class='headers'>Welcome Trainer!</h1>
    <h2 class='headers'>This is the pokemon flask emulator! Please use this website to access the global Pokedex!</h2>
    <div class="textbubbles">
        To get started please make an account on the register tab and login. Once you are logged in you may access the global Pokedex! Any Pokemon not searched on our Pokedex
        has yet to been added to please help out by searching any mons you would to use! After you search through and see some stats navigate to the add to party tab and select five of your favorite Pokemon. If any mistakes are made worry not as you 
        can always remove any creature from your party from the remove from party tab.
    </div>
    {%endblock%}